@font-face {
	font-family: "Fragment";
	src: url("../../public/fonts/PPFragment-TextRegular.otf") format("woff"),
		url("../../public/fonts/PPFragment-TextRegular.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fragment";
	src: url("../../public/fonts/PPFragment-GlareLight.otf") format("woff"),
		url("../../public/fonts/PPFragment-GlareLight.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RadioGrotesk";
	src: url("../../public/fonts/PPRadioGrotesk-Regular.otf") format("woff"),
		url("../../public/fonts/PPRadioGrotesk-Regular.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Woodland";
	src: url("../../public/fonts/PPWoodland-Bold.otf") format("woff"),
		url("../../public/fonts/PPWoodland-Bold.otf") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hatton";
	src: url("../../public/fonts/PPHatton-Medium.otf") format("woff"),
		url("../../public/fonts/PPHatton-Medium.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hatton";
	src: url("../../public/fonts/PPHatton-Bold.otf") format("woff"),
		url("../../public/fonts/PPHatton-Bold.otf") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hatton";
	src: url("../../public/fonts/PPHatton-Ultralight.otf") format("woff"),
		url("../../public/fonts/PPHatton-Ultralight.otf") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Neue-Montreal";
	src: url("../../public/fonts/PPNeueMontreal-Book.otf") format("woff"),
		url("../../public/fonts/PPNeueMontreal-Book.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Neue-Montreal";
	src: url("../../public/fonts/PPNeueMontreal-Medium.otf") format("woff"),
		url("../../public/fonts/PPNeueMontreal-Medium.otf") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LaBelleAurore";
	src: url("../../public/fonts/LaBelleAurore-Regular.ttf") format("truetype"),
		url("../../public/fonts/LaBelleAurore-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PPRightSerif";
	src: url("../../public/fonts/PPRightSerif-Medium.otf") format("woff"),
		url("../../public/fonts/PPRightSerif-Medium.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Telegraf";
	src: url("../../public/fonts/PPTelegraf-Regular.otf") format("woff"),
		url("../../public/fonts/PPTelegraf-Regular.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pangaia";
	src: url("../../public/fonts/PPPangaia-Medium.otf") format("woff"),
		url("../../public/fonts/PPPangaia-Medium.otf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@supports (-webkit-touch-callout: none) {
	#__next {
		min-height: -webkit-fill-available;
	}
}

@media (max-width: 760px) {
	#logo-full-a {
		display: none;
	}

	#logo-env {
		display: none;
	}
}

.emoji {
	display: inline-block;
	width: auto;
	height: 1em;
	vertical-align: -0.125em;
}

/* styles.css */
.icon-size-adjusted {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
  }
  
  .icon-flight {
	font-size: 46px; /* Adjusted size for visual consistency */
  }
  
  .icon-train {
	font-size: 38px; /* Adjusted size for visual consistency */
  }
  
  .icon-bus {
	font-size: 40px; /* As the base size seems appropriate */
  }
  
  .icon-car {
	font-size: 42px; /* Adjusted size for visual consistency */
  }

  .custom-link {
	color: teal;
	text-decoration: none;
  }
  
  .custom-link:hover {
	color: darkcyan;
	text-decoration: underline;
  }
  
  
